<!-- data_quality_app/templates/success_page.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accelerator Selection Page</title>
    <!-- Include your CSS styles if needed -->
</head>
<body>

<div class="container">
    <h1>ACCELERATOR SELECTION PAGE</h1>

    <section>
        <div class="block">
            <h2>DQ Assessment</h2>
            <p>Metadata-driven assessment of inventory which gives more insights on inventory</p>
        </div>

        <div class="block2">
            <h2>Reconciliation Report Generation</h2>
            <p>Toolkit to compare metadata across from IDQ and CDQ repositories for reconciling the migrated objects</p>
        </div>

        <div class="block3">
            <h2>Job Orchestrator</h2>
            <p>Automated scripts for bulk execution of multiple objects</p>
        </div>

        <div class="block4">
            <h2>Parameter File Conversion</h2>
            <p>Assessment and conversion of parameter file and convert IDQ parameter files to CDQ compatible</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 All rights reserved by Capgemini @2024</p>
    </footer>
</div>

</body>
</html>
